* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body {
  font: 1.0em/1.6 'Inconsolata', monospace;
  color:  #c9cdc0;
  font-weight: 400;
  background-color: rgb(183, 183, 183);
  text-shadow: rgb(34, 255, 0);
  /* overflow-y: hidden;
  overflow-x: hidden; */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

#map{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top:2.5vh; */
  margin-bottom:2.5vh;
}

#zoommap{
  position: fixed;
  width: 68%;
  /* margin-left: auto;
  margin-right: auto; */
  /* margin-top:2.5vh; */
  top: 10px;
  margin-bottom:2.5vh;
  display:none;
  /* height: 60vh; */
}


#svg55{
   width: 100%; 
   height: 100%;
   padding-top: none;
}

/* .zoom>img{
  height: calc(100vh - 60px);
  width: auto;
} */

/* #dreammap{
   height: 90vh; 
  
} */
   
#gateway-distance{
  font: 1.2em/1.6 'Inconsolata', monospace;
}

.flex-container {
  display: flex;
  flex-direction: column;
  
}

.flex-left {
  width: 100%;
  height: 100vh;
  /* border: 2px solid #c9cdc0; */
  border-radius: 2px;
  /* margin-right:3px; */
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background-color:rgb(26, 26, 26, 0);

}

/* .flex-right {
  width: 45%;
  height: 100vh;
  /* border: 5px solid #c9cdc0; */
  /* border-radius: 2px;
  padding: 5px;
  padding-right: 10px;
  padding-top: 10px;
  background-color:rgb(26, 26, 26);
} */ 

.section{
  border: 2px solid #3d3f38;
  border-radius:6px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom:6px;
  color: #ff4000;
  background-color: #0e0e0a;
}
.section2{
  border: 2px solid #3d3f38;
  border-radius:6px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom:6px;
  color: rgb(88, 130, 255);
  background-color: #0e0e0a;
}

.button-base{
  padding: 5px;
  margin: 5px;
}

#nav-console{
  color: #c9cdc0;
}

#scene1{
  display: none;
}

#input{
  background-color: #c9cdc0;
  border: 2px solid black;
  font: 1.2em/1.6 'Inconsolata', monospace;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
}

button{
  background-color: rgb(129, 135, 121);
  font: 1.2em/1.6 'Inconsolata', monospace;
  color:black;
  border-radius: 5px;
  border: 2px solid black;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-left: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

button:active{
  background-color: rgb(65, 184, 255);
}



#log{
  visibility: hidden; 
  background-color: rgb(177, 193, 213);
  color: black;
}

#back{
  visibility: hidden;
  width: 22%;
  background-color: #c9cdc0;
  color: black;
  
}

#back2{
  display: none; 
  width: 22%;
  background-color: #c9cdc0;
  color: black;
}

#log1{
  display: none;
  background-color: rgb(65, 184, 255);
  border: none;
  border-radius: 0px;
  color: black;
  padding: 1px;
  padding-left: 6px;
}


#log2{
  display: none;
  background-color: rgb(65, 184, 255);
  color: black;
  border-radius: 0px;
  border: none;
  padding: 1px;
  padding-left: 6px;
}
#log3{
  display: none;
  background-color: rgb(65, 184, 255);
  color: black;
  border-radius: 0px;
  border: none;
  padding: 1px;
  padding-left: 6px;
}
#log4{
  display: none;
  background-color: rgb(65, 184, 255);
  color: black;
  border-radius: 0px;
  border: none;
  padding: 1px;
  padding-left: 6px;
}
#log5{
  display: none;
  background-color: rgb(65, 184, 255);
  color: black;
  border-radius: 0px;
  border: none;
  padding: 1px;
  padding-left: 6px;
}

#log1:active{

  background-color: rgb(129, 135, 121);

}

#log2:active{

  background-color: rgb(129, 135, 121);

}

#log3:active{

  background-color: rgb(129, 135, 121);

}

#log4:active{

  background-color: rgb(129, 135, 121);

}

#log5:active{

  background-color: rgb(129, 135, 121);

}

#dreamlog{
  display: none;
}


.flex-top {
  position: absolute;
  top:0px;
  width: 100vw;
  height: 50vh;
  border-radius: 2px;
  padding: 5px;
  padding-right: 10px;
  padding-top: 10px;
  background-color:rgb(26, 26, 26);
}

.flex-bottom {
  position: absolute;
  bottom:0px;
  width: 100vw;
  height: 50vh;
  bottom:0px;
  border-radius: 2px;
  padding: 5px;
  padding-right: 10px;
  padding-top: 10px;
  background-color:rgb(26,26,26);
}

.section2{
  display: flex;
  border: 2px solid black;
  border-radius:1px;
  display: flex;
  flex-direction:row;
  padding: 5px;
  margin-bottom:6px;
  color: white;
  background-color: black;
  width: 30vw;
}
.flex-container2 {
  display: flex;
  flex-direction: row;
}

#rect13:active{
  fill:yellow;
}

#rect15:active{
  fill:yellow;
}

.wrapper{
  margin: 0 auto;
  max-width: 450px;
  }

    .fullscreen-video {
      position: fixed;
      overflow: hidden;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
      z-index: -10;
    }

#intro{

  z-index:2;
  position: flex;
  display: block;
  border: 2px solid #3d3f38;
  border-radius:6px;
  padding: 5px;
  margin-bottom:6px;
  color: #ff4000;
  background-color: #0e0e0a;
  height: 100vh;

}

#audiofile-intro{
  display: block;
}
#audiofile-1{
  display: none;
}
#audiofile-2{
  display: none;
}
#audiofile-3{
  display: none;
}
#audiofile-4{
  display: none;
}
#audiofile-5{
  display: none;
}